// module.exports = {
//   // env: {
//   //   browser: true,
//   //   es2021: true
//   // },
//   // extends: ['standard']
//   extends: 'standard'
//   // parserOptions: {
//   //   ecmaVersion: 12
//   //   // version 13 does not work for some reason
//   // },
//   // rules: {}
// }

{
  "extends": "standard"
}
